In [1]:
import pandas as pd

In [2]:
# loading test dataset
df10 = pd.read_csv( 'data/test.csv' )
df_store_raw = pd.read_csv( 'data/store.csv' )

# merge test dataset + store
df_test = pd.merge( df10, df_store_raw, how='left', on='Store' )

In [3]:
df_test.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN

In [4]:
df_train = pd.read_csv('data/train.csv')
df_store = pd.read_csv('data/store.csv')

df_raw = df_train.merge(df_store, how='left', on='Store')
df_raw.head()

/tmp/ipykernel_14511/3746304508.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('data/train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
df_raw.Store.value_counts()

1      942
726    942
708    942
709    942
713    942
      ...
159    758
637    758
636    758
633    758
155    758
Name: Store, Length: 1115, dtype: int64

In [11]:
df_test[df_test.Store == 727]

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
562,563,727,4,2015-09-17,1.0,1,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
1418,1419,727,3,2015-09-16,1.0,1,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
2274,2275,727,2,2015-09-15,1.0,1,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
3130,3131,727,1,2015-09-14,1.0,1,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
3986,3987,727,7,2015-09-13,0.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
4842,4843,727,6,2015-09-12,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
5698,5699,727,5,2015-09-11,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
6554,6555,727,4,2015-09-10,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
7410,7411,727,3,2015-09-09,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
8266,8267,727,2,2015-09-08,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
9122,9123,727,1,2015-09-07,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
9978,9979,727,7,2015-09-06,0.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
10834,10835,727,6,2015-09-05,1.0,0,0,0,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
11690,11691,727,5,2015-09-04,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
12546,12547,727,4,2015-09-03,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
13402,13403,727,3,2015-09-02,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
14258,14259,727,2,2015-09-01,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
15114,15115,727,1,2015-08-31,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
15970,15971,727,7,2015-08-30,0.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
16826,16827,727,6,2015-08-29,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
17682,17683,727,5,2015-08-28,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
18538,18539,727,4,2015-08-27,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
19394,19395,727,3,2015-08-26,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
20250,20251,727,2,2015-08-25,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
21106,21107,727,1,2015-08-24,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
21962,21963,727,7,2015-08-23,0.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
22818,22819,727,6,2015-08-22,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
23674,23675,727,5,2015-08-21,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
24530,24531,727,4,2015-08-20,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
25386,25387,727,3,2015-08-19,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
26242,26243,727,2,2015-08-18,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
27098,27099,727,1,2015-08-17,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
27954,27955,727,7,2015-08-16,0.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
28810,28811,727,6,2015-08-15,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
29666,29667,727,5,2015-08-14,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
30522,30523,727,4,2015-08-13,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
31378,31379,727,3,2015-08-12,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
32234,32235,727,2,2015-08-11,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
33090,33091,727,1,2015-08-10,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
33946,33947,727,7,2015-08-09,0.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
34802,34803,727,6,2015-08-08,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
35658,35659,727,5,2015-08-07,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
36514,36515,727,4,2015-08-06,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
37370,37371,727,3,2015-08-05,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
38226,38227,727,2,2015-08-04,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
39082,39083,727,1,2015-08-03,1.0,1,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
39938,39939,727,7,2015-08-02,0.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN
40794,40795,727,6,2015-08-01,1.0,0,0,1,a,a,2050.0,3.0,2007.0,0,NaN,NaN,NaN